{% load staticfiles %}
<!DOCTYPE html>
	<html>
		<head>
			{% block title %}
			<title>Neodoli</title>
			{% endblock %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="{% static 'bower/bootstrap/dist/css/bootstrap.min.css' %}">

			<style type="text/css">
				body {
					margin-top: 40px;
				}

				.footer {
					padding-bottom: 35px;
				}
			</style>
		</head>
	
		<body class="container-fluid">
			<div class="row">
				<div class="col-md-2">
				</div>

				<div class="col-md-8">
					{% block container %}
					{% endblock %}
				</div>

				<div class="col-md-2">
				</div>
			</div>

			<script type="text/javascript" src="{% static 'bower/jquery/dist/jquery.js' %}"></script>
			<script type="text/javascript" src="{% static 'bower/bootstrap/dist/js/bootstrap.js' %}"></script>
		
			<hr>

			<div class="footer">
				<div class="pull-right">
					<a href="{% url 'api:place-list' %}">Neodoli OpenAPI</a> | powered by <i>Neodoli</i> - {% now 'Y' %}
				</div>
			</div>
		</body>
	</html>